# Python
__pycache__/
*.py[cod]

# Virtual Environment
venv/
env/

# Environment variables
.env

# Database
db.sqlite3

# VS Code
.vscode/

# Migrations (optional)
# */migrations/
# !*/migrations/__init__.py